
body#back {
	
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i");


  font-family: "Raleway", sans-serif;
    background-color:#F4F6F8;



  .header {
  width: 100%;
  height: 70px;
  background-color: #33357C;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }



.desc  {
  width: 500px;
}

.form-submit {
  background: #33357C;
  border: 0px;
  color: #fff;
  font-size: 15px;
  width: auto;
  padding: 10px 20px;
  margin: 0 5px 0;
  border-radius:7px;}

  .form-submit:hover {
     color: #8A93AA; }

.logo-back {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.logo-back img {
  height: 70px;
}

main {

  z-index: 1;
    padding-left:250px;
  text-align: left;
  padding-top:50px;
}


#navbar {
  list-style: none;
  color: #ffffff;
  height: 100%;
  left: 0px;
  top: 70px;
  width: 250px;
  position: fixed;
  background-color: #585BB6; }

.navUl {
  flex-direction: column; }


.navUl li {
  line-height: 3;
  list-style: none; }

.navUl li a {
  color: #ffffff;
  text-decoration: none; }

.row.nav {
  height: 90%; }

.row.nav ul:last-child {
  align-self: flex-end; }

#ulSite li {
  margin-left: 10px;
  line-height: 1.5;
}

.row.nav :first-child {
  margin-top: 20px;
}


@media (max-width: 1000px) {
  .mobile-hide {
    display: none; }
  main {
    padding-left: 40px; }
  .mobile-show {
    display: block; }
  #navbar {
    width: 40px; }
  .nav ul {
    padding: 10px; } 
  
    .container {
    max-width: 1200px; }
.button {

margin: 30px -320px 0;  }}
  

.side-card {
  background: white;
  text-align: center;
  align-items: center;
  padding-bottom:10px;
  padding-top:-10px;
  justify-content: space-around;
  font-size: 300px;
  color: #000;
  background-color: #F4F6F8;
  border-radius:5px;
  
}


.dashboard-card {
  background: white;
  text-align: center;
  align-items: center;
  padding-bottom:10px;
  padding-top:-10px;
  justify-content: space-around;
  font-size: 20px;
  color: #000;
  border-top:10px solid #33357C;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: #F5F5F9;
  border-radius:5px;
  
}
.dashboard-card h3 {

  color: #000;
}


.dashboard-card:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}

.table-card {
  background: white;
  text-align: center;
  align-items: center;
  padding-bottom:10px;
  justify-content: space-around;
  font-size: 16px;
  color: #000;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: #FBFBFB;
  padding-left:50px;
  padding-right:50px;
  padding-top:20px;
  padding-bottom:20px;
  border-radius:5px;
}
.table-card h1 {
  font-size:25px;
}

.rectangle {
  margin-top:5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 50px;
  border-radius: 4px;
  background: #33357C;
  color: #fff;
  margin-bottom:5px;

}

.desc {
width: 500px;
height: 100px;

}


.rectangle:hover {
background-color:#202268;
}

.side {
  display: flex;
  text-align:center;
  height: 157px;
  border-radius: 4px;
  background: #33357C;
  color: #fff;
  margin-bottom:30px;
  text-align: center;
  align-items: center;
 
  justify-content: space-around;
  

}

.side:hover {
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.01); 
  background-color:#202268;
}

.notification-text {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
  
}

.side-text {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 18px;
}


input, button {
  outline: none;
}
button {
  background: #33357C;
  border: 0px;
  color: #fff;
  font-size: 15px;
 width: auto;
  padding: 5px 10px;
  margin: 0 10px 0;
  border-radius:10px;
}
button:hover {
  background: #585BB6;
}
/* Heading */

label[for='title'] {
  color: #333;
  font-weight: 700;
  font-size: 25px;
  border-bottom: 1px solid #C0C0C0;
  margin: 0;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Raleway", sans-serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}

/* New Task */
label[for='title'] {
  display: block;
  margin: 0 0 20px;
}
input#title {
  float: left;
  width: 318px;
}
p > button:hover {
  color: #0FC57C;
}

body {
  padding:1.5em;
  background: #f5f5f5
}

table {
  border: 1px #a39485 solid;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: left;
}
  
thead {
  font-weight: bold;
  color: #fff;
  background: #33357C;
}
  
 td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
  
 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

a {
  color: #73685d;
}
  
 @media all and (max-width: 768px) {
    
  table, thead, tbody, th, td, tr {
    display: block;

  }
  
  th {
    text-align: right;
  }
  
  table {
    position: relative; 
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  thead {
    float: left;
    white-space: nowrap;
  }
  
  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  tr {
    display: inline-block;
    vertical-align: top;
  }
  
  th {
    border-bottom: 1px solid #a39485;
  }
  
  td {
    border-bottom: 1px solid #e5e5e5;
  }
  
  
  }

  .body-wrapper {
  height: 294px;
  overflow: auto;
  margin-left:10px;
  margin-right:10px;
  
}

.icon-side {
padding-left:20px;}


.covers{
  position: relative;
   top: 4px;
   width: 278px;
   padding: 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius:5px;
   border: 1px dashed #BBB; 
   text-align: center;
   background-color: #DDD;
   cursor:pointer;
}

input[type='file']{
  height:20px;
  width:298px;
 
}

.cover, input.files{
  left:320px;
  top:4px;
  position: absolute;
}
input.files{
  top:10px;
  cursor:pointer;
  opacity:0;
}

#comment {
  font-size:10px;
}





}

//#menu_items_list_head, #menu_items_list
%extend_1 {
  border: 1px solid $color_gallery_approx;
  width: 142px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0;
  float: left;
  margin-right: 10px;
}

//#menu_items_list_head li, #menu_items_list li
%extend_2 {
  margin: 0 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 120px;
}


#menu_items_list_head {
  @extend %extend_1;
  li {
    @extend %extend_2;
  }
}
#menu_items_list {
  @extend %extend_1;
  li {
    @extend %extend_2;
  }
}