body#front {
/*POLICES GOOGLE FONTS*/

@import url('https://fonts.googleapis.com/css?family=Raleway');


	margin: 0;
	font-family: 'Raleway', sans-serif;


*{
	box-sizing: border-box;
}

/*CLEARFIX*/

.clearfix::after{
	content: '';
	clear: both;
	display: table;
	
}

.clearfix::before{
	content: "";
	display: table;
}


/*CONTAINER*/

.container{
	width: 1274px;
	margin: auto;
	position: relative;
}

.container1{
	margin: auto;
	position: relative;
	margin-top: 400px;
	width: 1600px;
	height: auto;
}

.container2{
	
	position: relative;
	left: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}
.content-vertically-centered{
	position: absolute;
	top: 50%;
	left: 0;
	bottom: 0;
	transform: translateY(-50%);
}

/*CTA BUTTON*/

.cta-button{
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	padding: 1em 3em;
	border-radius: 500px;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.1em;
	transition: background-color 0.3s;
	text-align: center;
}

.cta-button--blue{
	background-color: #1E3264;
	color: white;
}

.cta-button--blanc{
	
	background-color: #FFFFFF;
	color: black;
}

.cta-button--blue:hover{
	background-color: #2A468D;
	color: white;
}

.cta-button--white{
	background-color: white;
	color: #000000;
}

.cta-button--white:hover{
	background-color: #000000;
	color: white;
}

.cta-button--green{
	background-color: #1DB954;
	color: white;
}

.cta-button--green:hover{
	background-color: #1ED760;
	color: white;
}

.cta-button--full-width{
	width: 100%;
}



.cta-button1{
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	padding : 1em 3em;
	margin-top : 10px;
	margin-bottom : 35px;
	border-radius: 500px;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.1em;
	transition: background-color 0.3s;
	text-align: center;
}

.cta-button1--blue{
	background-color: #1E3264;
	color: white;
}

.cta-button1--blanc{
	
	background-color: #FFFFFF;
	color: black;
}

.cta-button1--blue:hover{
	background-color: #2A468D;
	color: white;
}

.cta-button1--white{
	background-color: white;
	color: #000000;
}

.cta-button1--white:hover{
	background-color: #000000;
	color: white;
}

.cta-button1--green{
	background-color: #000;
	color: white;
}

.cta-button1--green:hover{
	background-color: #1AE5BE;
	color: white;
}

.cta-button1--full-width{
	width: 100%;
}


/*HEADER*/

header{
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: black;
}

header nav{
	float: right;
}

header nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

header nav li{
	float: left;
}

header nav li a{
	display: inline-block;
	padding: 2em 1em;
	text-decoration: none;
	color: white;
}

#logo-image{
	float: left;
	width: 75px;
	height: 80px;
	position: absolute;
	background-image: url(public/images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; 
	z-index: auto;
}


/*BANNER*/

#banner{
	background-image: url('../images/banner2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	color: white;
	
	padding-bottom: 170px;
	padding-top: 220px;
}


#banner .container2{
	margin-bottom: 20px;
}


#banner h1{
	font-size: 80px;


}

#banner h2{
	font-size: 20px;
	font-weight: normal;
	text-align: justify;
}


#banner small{
	position: absolute;
	left: 0;
	bottom: 45px;
	width: 100%;
	text-align: center;
	text-align: justify;
}

/*CONNEXION*/

#connexion{
	background-image: url('../images/connexion.jpg');
	background-size: cover;
	background-position: right center;
	color: white;
}

#connexion .container{
	height: 902px;
}


#connexion h1{
	font-size: 80px;
	margin: 0;
}

#connexion h2{
	font-size: 20px;
}


#connexion small{
	position: absolute;
	left: 0;
	bottom: 45px;
	width: 100%;
	text-align: center;
}




/*SERVICES*/

#services{
	background-color: #fff;
	padding-bottom: 60px;
	padding-top: 60px;
}

#services p
{
	text-align: justify;
}
#services img{
	padding-top: 15px;
	overflow: hidden;
}

#services .lien{
color:#33357C;
font-size: 16px;
}

#services  h1{
	color: black;
	font-size: 40px;
	
}

#services .box2 > h2{
	color: black;
	font-size: 26px;
	padding-bottom: 10px;
}

.intro{
	float: left;
	margin-right: 2%;
	width: calc(94% / 4);
	text-align: center;
	padding: 1rem 2rem;
}

.intro h1{
	font-size: 20px;
	margin-bottom: 0;
}


.intro h2{
	font-weight: normal;
	font-size: 14px;
}

.intro figure{
	width:100%;
	padding-top: 100%;
	margin: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.intro:nth-child(1) figure{
	background-image: url('../images/1.png');
}

.intro:nth-child(2) figure{
	background-image: url('../images/2.png');
}

.intro:nth-child(3) figure{
	background-image: url('../images/3.png');
}

.intro:nth-child(4) figure{
	background-image: url('../images/4.png');
}


.intro:last-child{
	margin-right: 0%;
}

/*SECTION 6*/
#decouvertes{
	background-color: white;
	padding-top: 60px;
	padding-bottom: 60px;
}

#decouvertes .box4 > h1{
	text-align: center;
	color: black;
	font-size: 48px;
}

.album{
	float: left;
	text-align: center;
	padding: 1rem 2rem;
}

.album h1{
	font-size: 20px;
	margin-bottom: 0;
}

.album h2{
	font-weight: normal;
	font-size: 14px;
	padding-bottom: 70px;
}

.album figure{
	width:auto;
	padding-top: 100%;
	margin: 0;
	background-size: contain;
	background-repeat: no-repeat;
}

.album:nth-child(1) figure{
	background-image: url('../images/album1.jpg');
}

.album:nth-child(2) figure{
	background-image: url('../images/album1.jpg');
}

.album:nth-child(3) figure{
	background-image: url('../images/album2.jpg');
}

.album:nth-child(4) figure{
	background-image: url('../images/album3.jpg');
}
.album:nth-child(5) figure{
	background-image: url('../images/album4.jpg');
}



.album:last-child{
	margin-right: 0%;
}





/*BANNER2*/

#banner2{
	
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url('../images/banner2.jpg');
	background-repeat: no-repeat;
	background-position: right center;
	color: white;
	width: 100%;
}




#banner2 h1{
	font-size: 80px;
	margin: 0;

	
}

#banner2 h2{
	font-size: 20px;
	font-weight: normal;
	text-align: justify;
	
}




/*FOOTER*/

footer{
	background-color: black;
	color: grey;
}

footer nav li{
	float: left;
}

footer nav li a{
	display: inline-block;
	padding: 2em 1em;
	text-decoration: none;
	color: grey;
	font-size: small;
}

footer nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

footer small{
	position: absolute;
	right: 0;
	top:50%;
	transform: translateY(-50%);
}


@keyframes fadeIn{
	from {opacity: 0; transform: translateY(100%);}
	to {opacity: 1; transform: translateY(0%);}
}

#banner .cta-button{
	animation: fadeIn 1s;
}



	background-color:white;



}