 a:focus,  a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

 input,  select,  textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

 input:focus,  select:focus,  textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

 input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

 input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

 img {
  max-width: 100%;
  height: auto; }

 figure {
  margin: 0; }

 p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777; }

 h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Raleway;
  font-size: 36px; }

 h3 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Raleway;
  font-size: 26px; }

 .main {
  background: #f8f8f8;
  padding: 150px 0; }

 .clear {
  clear: both; }

  {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Raleway; }

 .container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px; }

 .display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

 .display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

 .position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

 .signup {
  margin-bottom: 150px;
  margin-top: 80px; }

 .signup-content {
  padding: 75px 0; }

 .signup-form,  .signup-image,  .signin-form,  .signin-image {
  width: 50%;
  overflow: hidden; }

 .signup-image {
  margin: 0 55px; }

 .form-title {
  margin-bottom: 30px; }

 .signup-image {
  margin-top: 45px; }

 figure {
  margin-bottom: 50px;
  text-align: center; }

 .form-submit {
  display: inline-block;
  background: #000;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  margin-top: 25px;
  cursor: pointer; }
   .form-submit:hover {
    background: #585BB6; }
 input[type="text"]:disabled {
  background: #f7f7f7;
}
 .fb-submit {
  display: inline-block;
  background: #3b5998;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 10px 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  margin-top: 10px;
  margin-bottom: : 25px;
  cursor: pointer; }
 .fb-submit:hover {
  background: #8b9dc3; }
 .google-submit {
  display: inline-block;
  background: #D44638;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 10px 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  cursor: pointer; }
   .google-submit:hover {
    background: #B23121; }

 #signin {
  margin-top: 16px; }

 .signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center; }

 .fb {
  font-size: 14px;
  text-decoration:none; 
  background-color: #3b5998;
  color: #fff;
  display: block;
  border-radius: 7px;
  padding:5px;
  text-align: center; }
 .fb:hover {
  background-color:  #344873;
  color:white;}

 .google {
  font-size: 14px;
  text-decoration:none; 
  color: #fff;
  background-color:  #d44638;
  padding:5px;
  margin-top: 8px;
  border-radius: 7px;
  display: block;
  text-align: center; }

 .google:hover {
  background-color:  #a8463d;
  color:white; }

 .term-service {
  font-size: 13px;
  color: #222; }

 .signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px; }

 .register-form {
  width: 100%; }

 .form-group {
  position: relative;
  margin-bottom: 1px;
  overflow: hidden; }
   .form-group:last-child {
    margin-bottom: 0px; }

 input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Raleway;
  box-sizing: border-box; }
   input::-webkit-input-placeholder {
    color: #999; }
   input::-moz-placeholder {
    color: #999; }
   input:-ms-input-placeholder {
    color: #999; }
   input:-moz-placeholder {
    color: #999; }
   input:focus {
    border-bottom: 1px solid #222; }
     input:focus::-webkit-input-placeholder {
      color: #222; }
     input:focus::-moz-placeholder {
      color: #222; }
     input:focus:-ms-input-placeholder {
      color: #222; }
     input:focus:-moz-placeholder {
      color: #222; }

 input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none; }

 input[type=checkbox]:not(old) + label {
  display: inline-block;
  line-height: 1.5em;
  margin-top: 6px; }

 input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom; }

 input[type=checkbox]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white); }

 input[type=checkbox]:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold; }

 .agree-term {
  display: inline-block;
  width: auto; }

 label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222; }

 .label-has-error {
  top: 22%; }

 label.error {
  position: relative;
  background: url("../images/unchecked.gif") no-repeat;
  background-position-y: 3px;
  padding-left: 20px;
  display: block;
  margin-top: 20px; }

 label.valid {
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  margin-top: -6px;
  width: 20px;
  height: 20px;
  background: transparent; }
   label.valid:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f269';
    width: 100%;
    height: 100%;
    position: absolute;
    /* right: 0; */
    font-size: 16px;
    color: green; }

 .label-agree-term {
  position: relative;
  top: 0%;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0); }

 .material-icons-name {
  font-size: 18px; }

 .signin-content {
  padding-top: 67px;
  padding-bottom: 87px; }

 .signin-form {
  margin-right: 90px;
  margin-left: 80px; }

 .signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px; }
