
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 1vw;
  width: calc(100% - 2vw);
  
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

*[class*="col-"] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  max-width: 100%;
  
}

@media screen and (max-width: 575px) {
  .col-xs-0 {
    -ms-flex-preferred-size: calc( (100% / 12) * 0);
        flex-basis: calc( (100% / 12) * 0);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 0);
  }
  .col-xs-offset-0 {
    margin-left: calc( (100% / 12) * 0);
  }
  .col-xs-1 {
    -ms-flex-preferred-size: calc( (100% / 12) * 1);
        flex-basis: calc( (100% / 12) * 1);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 1);
  }
  .col-xs-offset-1 {
    margin-left: calc( (100% / 12) * 1);
  }
  .col-xs-2 {
    -ms-flex-preferred-size: calc( (100% / 12) * 2);
        flex-basis: calc( (100% / 12) * 2);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 2);
  }
  .col-xs-offset-2 {
    margin-left: calc( (100% / 12) * 2);
  }
  .col-xs-3 {
    -ms-flex-preferred-size: calc( (100% / 12) * 3);
        flex-basis: calc( (100% / 12) * 3);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 3);
  }
  .col-xs-offset-3 {
    margin-left: calc( (100% / 12) * 3);
  }
  .col-xs-4 {
    -ms-flex-preferred-size: calc( (100% / 12) * 4);
        flex-basis: calc( (100% / 12) * 4);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 4);
  }
  .col-xs-offset-4 {
    margin-left: calc( (100% / 12) * 4);
  }
  .col-xs-5 {
    -ms-flex-preferred-size: calc( (100% / 12) * 5);
        flex-basis: calc( (100% / 12) * 5);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 5);
  }
  .col-xs-offset-5 {
    margin-left: calc( (100% / 12) * 5);
  }
  .col-xs-6 {
    -ms-flex-preferred-size: calc( (100% / 12) * 6);
        flex-basis: calc( (100% / 12) * 6);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 6);
  }
  .col-xs-offset-6 {
    margin-left: calc( (100% / 12) * 6);
  }
  .col-xs-7 {
    -ms-flex-preferred-size: calc( (100% / 12) * 7);
        flex-basis: calc( (100% / 12) * 7);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 7);
  }
  .col-xs-offset-7 {
    margin-left: calc( (100% / 12) * 7);
  }
  .col-xs-8 {
    -ms-flex-preferred-size: calc( (100% / 12) * 8);
        flex-basis: calc( (100% / 12) * 8);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 8);
  }
  .col-xs-offset-8 {
    margin-left: calc( (100% / 12) * 8);
  }
  .col-xs-9 {
    -ms-flex-preferred-size: calc( (100% / 12) * 9);
        flex-basis: calc( (100% / 12) * 9);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 9);
  }
  .col-xs-offset-9 {
    margin-left: calc( (100% / 12) * 9);
  }
  .col-xs-10 {
    -ms-flex-preferred-size: calc( (100% / 12) * 10);
        flex-basis: calc( (100% / 12) * 10);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 10);
  }
  .col-xs-offset-10 {
    margin-left: calc( (100% / 12) * 10);
  }
  .col-xs-11 {
    -ms-flex-preferred-size: calc( (100% / 12) * 11);
        flex-basis: calc( (100% / 12) * 11);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 11);
  }
  .col-xs-offset-11 {
    margin-left: calc( (100% / 12) * 11);
  }
  .col-xs-12 {
    -ms-flex-preferred-size: calc( (100% / 12) * 12);
        flex-basis: calc( (100% / 12) * 12);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 12);
  }
  .col-xs-offset-12 {
    margin-left: calc( (100% / 12) * 12);
  }
}

@media screen and (min-width: 576px) {
  .col-sm-0 {
    -ms-flex-preferred-size: calc( (100% / 12) * 0);
        flex-basis: calc( (100% / 12) * 0);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 0);
  }
  .col-sm-offset-0 {
    margin-left: calc( (100% / 12) * 0);
  }
  .col-sm-1 {
    -ms-flex-preferred-size: calc( (100% / 12) * 1);
        flex-basis: calc( (100% / 12) * 1);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 1);
  }
  .col-sm-offset-1 {
    margin-left: calc( (100% / 12) * 1);
  }
  .col-sm-2 {
    -ms-flex-preferred-size: calc( (100% / 12) * 2);
        flex-basis: calc( (100% / 12) * 2);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 2);
  }
  .col-sm-offset-2 {
    margin-left: calc( (100% / 12) * 2);
  }
  .col-sm-3 {
    -ms-flex-preferred-size: calc( (100% / 12) * 3);
        flex-basis: calc( (100% / 12) * 3);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 3);
  }
  .col-sm-offset-3 {
    margin-left: calc( (100% / 12) * 3);
  }
  .col-sm-4 {
    -ms-flex-preferred-size: calc( (100% / 12) * 4);
        flex-basis: calc( (100% / 12) * 4);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 4);
  }
  .col-sm-offset-4 {
    margin-left: calc( (100% / 12) * 4);
  }
  .col-sm-5 {
    -ms-flex-preferred-size: calc( (100% / 12) * 5);
        flex-basis: calc( (100% / 12) * 5);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 5);
  }
  .col-sm-offset-5 {
    margin-left: calc( (100% / 12) * 5);
  }
  .col-sm-6 {
    -ms-flex-preferred-size: calc( (100% / 12) * 6);
        flex-basis: calc( (100% / 12) * 6);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 6);
  }
  .col-sm-offset-6 {
    margin-left: calc( (100% / 12) * 6);
  }
  .col-sm-7 {
    -ms-flex-preferred-size: calc( (100% / 12) * 7);
        flex-basis: calc( (100% / 12) * 7);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 7);
  }
  .col-sm-offset-7 {
    margin-left: calc( (100% / 12) * 7);
  }
  .col-sm-8 {
    -ms-flex-preferred-size: calc( (100% / 12) * 8);
        flex-basis: calc( (100% / 12) * 8);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 8);
  }
  .col-sm-offset-8 {
    margin-left: calc( (100% / 12) * 8);
  }
  .col-sm-9 {
    -ms-flex-preferred-size: calc( (100% / 12) * 9);
        flex-basis: calc( (100% / 12) * 9);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 9);
  }
  .col-sm-offset-9 {
    margin-left: calc( (100% / 12) * 9);
  }
  .col-sm-10 {
    -ms-flex-preferred-size: calc( (100% / 12) * 10);
        flex-basis: calc( (100% / 12) * 10);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 10);
  }
  .col-sm-offset-10 {
    margin-left: calc( (100% / 12) * 10);
  }
  .col-sm-11 {
    -ms-flex-preferred-size: calc( (100% / 12) * 11);
        flex-basis: calc( (100% / 12) * 11);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 11);
  }
  .col-sm-offset-11 {
    margin-left: calc( (100% / 12) * 11);
  }
  .col-sm-12 {
    -ms-flex-preferred-size: calc( (100% / 12) * 12);
        flex-basis: calc( (100% / 12) * 12);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 12);
  }
  .col-sm-offset-12 {
    margin-left: calc( (100% / 12) * 12);
  }
}

@media screen and (min-width: 1600px) {
  .col-md-0 {
    -ms-flex-preferred-size: calc( (100% / 12) * 0);
        flex-basis: calc( (100% / 12) * 0);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 0);
  }
  .col-md-offset-0 {
    margin-left: calc( (100% / 12) * 0);
  }
  .col-md-1 {
    -ms-flex-preferred-size: calc( (100% / 12) * 1);
        flex-basis: calc( (100% / 12) * 1);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 1);
  }
  .col-md-offset-1 {
    margin-left: calc( (100% / 12) * 1);
  }
  .col-md-2 {
    -ms-flex-preferred-size: calc( (100% / 12) * 2);
        flex-basis: calc( (100% / 12) * 2);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 2);
  }
  .col-md-offset-2 {
    margin-left: calc( (100% / 12) * 2);
  }
  .col-md-3 {
    -ms-flex-preferred-size: calc( (100% / 12) * 3);
        flex-basis: calc( (100% / 12) * 3);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 3);
  }
  .col-md-offset-3 {
    margin-left: calc( (100% / 12) * 3);
  }
  .col-md-4 {
    -ms-flex-preferred-size: calc( (100% / 12) * 4);
        flex-basis: calc( (100% / 12) * 4);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 4);
  }
  .col-md-offset-4 {
    margin-left: calc( (100% / 12) * 4);
  }
  .col-md-5 {
    -ms-flex-preferred-size: calc( (100% / 12) * 5);
        flex-basis: calc( (100% / 12) * 5);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 5);
  }
  .col-md-offset-5 {
    margin-left: calc( (100% / 12) * 5);
  }
  .col-md-6 {
    -ms-flex-preferred-size: calc( (100% / 12) * 6);
        flex-basis: calc( (100% / 12) * 6);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 6);
  }
  .col-md-offset-6 {
    margin-left: calc( (100% / 12) * 6);
  }
  .col-md-7 {
    -ms-flex-preferred-size: calc( (100% / 12) * 7);
        flex-basis: calc( (100% / 12) * 7);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 7);
  }
  .col-md-offset-7 {
    margin-left: calc( (100% / 12) * 7);
  }
  .col-md-8 {
    -ms-flex-preferred-size: calc( (100% / 12) * 8);
        flex-basis: calc( (100% / 12) * 8);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 8);
  }
  .col-md-offset-8 {
    margin-left: calc( (100% / 12) * 8);
  }
  .col-md-9 {
    -ms-flex-preferred-size: calc( (100% / 12) * 9);
        flex-basis: calc( (100% / 12) * 9);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 9);
  }
  .col-md-offset-9 {
    margin-left: calc( (100% / 12) * 9);
  }
  .col-md-10 {
    -ms-flex-preferred-size: calc( (100% / 12) * 10);
        flex-basis: calc( (100% / 12) * 10);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 10);
  }
  .col-md-offset-10 {
    margin-left: calc( (100% / 12) * 10);
  }
  .col-md-11 {
    -ms-flex-preferred-size: calc( (100% / 12) * 11);
        flex-basis: calc( (100% / 12) * 11);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 11);
  }
  .col-md-offset-11 {
    margin-left: calc( (100% / 12) * 11);
  }
  .col-md-12 {
    -ms-flex-preferred-size: calc( (100% / 12) * 12);
        flex-basis: calc( (100% / 12) * 12);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 12);
  s
  }
  .col-md-offset-12 {
    margin-left: calc( (100% / 12) * 12);
  }
}

@media screen and (min-width: 1100px) {
  .col-lg-0 {
    -ms-flex-preferred-size: calc( (100% / 12) * 0);
        flex-basis: calc( (100% / 12) * 0);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 0);
  }
  .col-lg-offset-0 {
    margin-left: calc( (100% / 12) * 0);
  }
  .col-lg-1 {
    -ms-flex-preferred-size: calc( (100% / 12) * 1);
        flex-basis: calc( (100% / 12) * 1);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 1);
  }
  .col-lg-offset-1 {
    margin-left: calc( (100% / 12) * 1);
  }
  .col-lg-2 {
    -ms-flex-preferred-size: calc( (100% / 12) * 2);
        flex-basis: calc( (100% / 12) * 2);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 2);
  }
  .col-lg-offset-2 {
    margin-left: calc( (100% / 12) * 2);
  }
  .col-lg-3 {
    -ms-flex-preferred-size: calc( (100% / 12) * 3);
        flex-basis: calc( (100% / 12) * 3);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 3);
  }
  .col-lg-offset-3 {
    margin-left: calc( (100% / 12) * 3);
  }
  .col-lg-4 {
    -ms-flex-preferred-size: calc( (100% / 12) * 4);
        flex-basis: calc( (100% / 12) * 4);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 4);
  }
  .col-lg-offset-4 {
    margin-left: calc( (100% / 12) * 4);
  }
  .col-lg-5 {
    -ms-flex-preferred-size: calc( (100% / 12) * 5);
        flex-basis: calc( (100% / 12) * 5);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 5);
  }
  .col-lg-offset-5 {
    margin-left: calc( (100% / 12) * 5);
  }
  .col-lg-6 {
    -ms-flex-preferred-size: calc( (100% / 12) * 6);
        flex-basis: calc( (100% / 12) * 6);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 6);
  }
  .col-lg-offset-6 {
    margin-left: calc( (100% / 12) * 6);
  }
  .col-lg-7 {
    -ms-flex-preferred-size: calc( (100% / 12) * 7);
        flex-basis: calc( (100% / 12) * 7);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 7);
  }
  .col-lg-offset-7 {
    margin-left: calc( (100% / 12) * 7);
  }
  .col-lg-8 {
    -ms-flex-preferred-size: calc( (100% / 12) * 8);
        flex-basis: calc( (100% / 12) * 8);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 8);
  }
  .col-lg-offset-8 {
    margin-left: calc( (100% / 12) * 8);
  }
  .col-lg-9 {
    -ms-flex-preferred-size: calc( (100% / 12) * 9);
        flex-basis: calc( (100% / 12) * 9);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 9);
  }
  .col-lg-offset-9 {
    margin-left: calc( (100% / 12) * 9);
  }
  .col-lg-10 {
    -ms-flex-preferred-size: calc( (100% / 12) * 10);
        flex-basis: calc( (100% / 12) * 10);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 10);
  }
  .col-lg-offset-10 {
    margin-left: calc( (100% / 12) * 10);
  }
  .col-lg-11 {
    -ms-flex-preferred-size: calc( (100% / 12) * 11);
        flex-basis: calc( (100% / 12) * 11);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 11);
  }
  .col-lg-offset-11 {
    margin-left: calc( (100% / 12) * 11);
  }
  .col-lg-12 {
    -ms-flex-preferred-size: calc( (100% / 12) * 12);
        flex-basis: calc( (100% / 12) * 12);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 12);
  }
  .col-lg-offset-12 {
    margin-left: calc( (100% / 12) * 12);
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-0 {
    -ms-flex-preferred-size: calc( (100% / 12) * 0);
        flex-basis: calc( (100% / 12) * 0);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 0);
  }
  .col-xl-offset-0 {
    margin-left: calc( (100% / 12) * 0);
  }
  .col-xl-1 {
    -ms-flex-preferred-size: calc( (100% / 12) * 1);
        flex-basis: calc( (100% / 12) * 1);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 1);
  }
  .col-xl-offset-1 {
    margin-left: calc( (100% / 12) * 1);
  }
  .col-xl-2 {
    -ms-flex-preferred-size: calc( (100% / 12) * 2);
        flex-basis: calc( (100% / 12) * 2);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 2);
  }
  .col-xl-offset-2 {
    margin-left: calc( (100% / 12) * 2);
  }
  .col-xl-3 {
    -ms-flex-preferred-size: calc( (100% / 12) * 3);
        flex-basis: calc( (100% / 12) * 3);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 3);
  }
  .col-xl-offset-3 {
    margin-left: calc( (100% / 12) * 3);
  }
  .col-xl-4 {
    -ms-flex-preferred-size: calc( (100% / 12) * 4);
        flex-basis: calc( (100% / 12) * 4);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 4);
  }
  .col-xl-offset-4 {
    margin-left: calc( (100% / 12) * 4);
  }
  .col-xl-5 {
    -ms-flex-preferred-size: calc( (100% / 12) * 5);
        flex-basis: calc( (100% / 12) * 5);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 5);
  }
  .col-xl-offset-5 {
    margin-left: calc( (100% / 12) * 5);
  }
  .col-xl-6 {
    -ms-flex-preferred-size: calc( (100% / 12) * 6);
        flex-basis: calc( (100% / 12) * 6);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 6);
  }
  .col-xl-offset-6 {
    margin-left: calc( (100% / 12) * 6);
  }
  .col-xl-7 {
    -ms-flex-preferred-size: calc( (100% / 12) * 7);
        flex-basis: calc( (100% / 12) * 7);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 7);
  }
  .col-xl-offset-7 {
    margin-left: calc( (100% / 12) * 7);
  }
  .col-xl-8 {
    -ms-flex-preferred-size: calc( (100% / 12) * 8);
        flex-basis: calc( (100% / 12) * 8);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 8);
  }
  .col-xl-offset-8 {
    margin-left: calc( (100% / 12) * 8);
  }
  .col-xl-9 {
    -ms-flex-preferred-size: calc( (100% / 12) * 9);
        flex-basis: calc( (100% / 12) * 9);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 9);
  }
  .col-xl-offset-9 {
    margin-left: calc( (100% / 12) * 9);
  }
  .col-xl-10 {
    -ms-flex-preferred-size: calc( (100% / 12) * 10);
        flex-basis: calc( (100% / 12) * 10);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 10);
  }
  .col-xl-offset-10 {
    margin-left: calc( (100% / 12) * 10);
  }
  .col-xl-11 {
    -ms-flex-preferred-size: calc( (100% / 12) * 11);
        flex-basis: calc( (100% / 12) * 11);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 11);
  }
  .col-xl-offset-11 {
    margin-left: calc( (100% / 12) * 11);
  }
  .col-xl-12 {
    -ms-flex-preferred-size: calc( (100% / 12) * 12);
        flex-basis: calc( (100% / 12) * 12);
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    max-width: calc( (100% / 12) * 12);
  }
  .col-xl-offset-12 {
    margin-left: calc( (100% / 12) * 12);
  }
}

  .dashboard {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 100px; auto [row] auto [row] ;
    background-color: #F5F5F5;
    color: #000;
    }

  .box {
        
    background-color: #F4F6F8;
    color: #000;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    
    }
  
    
    .box1 {
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        font-size: 20px;
        padding: 30px;
        margin-bottom: :30px;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
    
    }

        .box2 {
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        font-size: 20px;
        padding: 30px;
        margin-bottom: :10px;
    
    }

           .box3 {
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        font-size: 20px;
        padding: 30px;
        margin-bottom: :10px;
    
    }

           .box4 {
        color: #000;
        font-size: 20px;
        width: auto;
    
    }

    .box5 {
        
    background-color: white;
    color: #000;
    border-radius: 5px;
    font-size: 20px;
    padding: 40px;
    border : 1px solid #ececec;

    
    }

    .box6 {
        
    background-color: #FAFAFA  ;
    color: #000;
    border-radius: 5px;
    font-size: 20px;
    padding: 40px;
    border : 1px solid #ececec;

    
    }

     .boxa {
        background-color: #fff;
        color: grey;
        border-radius: 5px;
        font-size: 16px;
        padding: 10px;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
        text-align: left;
        padding-bottom: 30px;
    
    }


     .boxa h1 {
        color: #585BB6;
        font-size: 20px;
    }
