.playerMedia {
position: fixed;
   left: 0;
   bottom: 67px;
   width: 100%;
  background-color: #000;
  font-family: Raleway;
}

.playerMedia h1, h2, h3, h4, h5, h6 {
  font-family: Raleway;
  font-weight: 400;
}

.player {
  background: #d2ccc4;
  position: relative;
  width: 100%;
  z-index: 2;
}

.splitTxt,
.icons {
  color: #ffffff;
}

.trackDetails {
  text-align: center;
  margin: 4px auto;
  width: 300px;
  height: 38px;
  background: #fff;
  border-radius: 4px;
  padding: 6px;
}

.playerMedia .title,
.artist {
  color: #000;
  -moz-user-select: none;
  left: 167px;
}

.playerMedia .title {
  font-size: 18px;
  font-weight: bold;
}

.artist {
  font-size: 12px;
}

.playlistIcon {
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 34px;
  width: 32px;
}

.controls {
  cursor: pointer;
  height: 40px;
  width: 120px;
  margin: 0 auto;
}

.controls .play,
.controls .pause,
.controls .rew,
.controls .fwd {
  float: left;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

.controls .play,
.controls .pause,
.plIcon{
  font-size: 26px;
}

.controls .pause {
  display: none;
}

.hidden {
  display: none;
}

.controls .visible {
  display: inline-block;
}

.tracker {
  cursor: pointer;
  height: 5px;
}

.ui-widget.ui-widget-content {
  border: 0;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-slider .ui-slider-handle {
  display: block;
  height: 14px;
  border-radius: 14px;
  width: 14px;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.tracker .ui-slider-range {
  background: #acb6e5; 
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5); 
  background: linear-gradient(to right, #86fde8, #acb6e5);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00dbde', endColorstr='#fc00ff', GradientType=1);
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  height: 100%;
  top: 0;
}

.volume .ui-slider-range {
  background: #333333;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.volume.ui-widget-content {
  background: #00dbde;
}

.ui-slider-handle {
  cursor: pointer;
  height: 10px;
  margin-left: -5px;
  top: 2px;
  width: 10px;
  z-index: 2;
}

.volume .ui-slider-handle {
  display: none;
}

.playlist {
  background-color: #000;
  list-style-type: none;
  padding-bottom: 10px;
  padding: 15px;
  position: relative;
  width: 100%;
  z-index: 1;
  display: none;
  -webkit-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
}

.playlist li {
  color: #eeeeee;
  cursor: pointer;
  margin-bottom: 4px;
  padding: 6px 12px;
  -webkit-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
}

.playlist li:hover {
  background: #333333;
}

.playlist li.active {
  font-weight: bold;
  background: #000000;
}

.show {
  display: block;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 0;
}

.ui-widget-content {
  background: #666666;
}

.cr {
  color: #f9f9f9;
  text-align: center;
}