/* @extend display-flex; */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Raleway");
display-flex, body#login .display-flex, body#login .display-flex-center, body#login .signup-content, body#login .signin-content {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0; }

body#login a:focus, body#login a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

body#login input, body#login select, body#login textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

body#login input::-webkit-outer-spin-button, body#login input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

body#login input:focus, body#login select:focus, body#login textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

body#login input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

body#login input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

body#login img {
  max-width: 100%;
  height: auto; }

body#login figure {
  margin: 0; }

body#login p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777; }

body#login h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Raleway;
  font-size: 36px; }

body#login h3 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Raleway;
  font-size: 26px; }

body#login .main {
  background: #f8f8f8;
  padding: 150px 0; }

body#login .clear {
  clear: both; }

body#login  {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Raleway; }

body#login .container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px; }

body#login .display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

body#login .display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

body#login .position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

body#login .signup {
  margin-bottom: 150px;
  margin-top: 80px; }

body#login .signup-content {
  padding: 75px 0; }

body#login .signup-form, body#login .signup-image, body#login .signin-form, body#login .signin-image {
  width: 50%;
  overflow: hidden; }

body#login .install-form{
  width: 70%;
  overflow: hidden; }

body#login .signup-image {
  margin: 0 55px; }

body#login .form-title {
  margin-bottom: 30px; }

body#login .signup-image {
  margin-top: 45px; }

body#login figure {
  margin-bottom: 50px;
  text-align: center; }

body#login .form-submit {
  display: inline-block;
  background: #000;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  margin-top: 5px;
  cursor: pointer;
  border: none; }
  body#login .form-submit:hover {
  background-color: #734ae8;
  background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%); }
body#login input[type="text"]:disabled {
  background: #f7f7f7;
}
body#login .fb-submit {
  display: inline-block;
  background: #3b5998;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 10px 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  margin-top: 10px;
  margin-bottom: : 25px;
  cursor: pointer; }
body#login .fb-submit:hover {
  background: #8b9dc3; }
body#login .google-submit {
  display: inline-block;
  background: #D44638;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 10px 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  cursor: pointer; }
  body#login .google-submit:hover {
    background: #B23121; }

body#login #signin {
  margin-top: 16px; }

body#login .signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-decoration: none;
  text-align: center; }

body#login .fb {
  font-size: 14px;
  text-decoration:none; 
  border: 1px solid #3b5998;
  color: #3b5998;
  display: block;
  border-radius: 7px;
  padding:5px;
  text-align: center; }
body#login .fb:hover {
  background-color:  #3b5998;
  color:white;}

body#login .google {
  font-size: 14px;
  text-decoration:none; 
  color: #d44638;
  border: 1px solid  #d44638;
  padding:5px;
  margin-top: 8px;
  border-radius: 7px;
  display: block;
  text-align: center; }

body#login .google:hover {
  background-color:  #d44638;
  color:white; }

body#login .term-service {
  font-size: 13px;
  color: #222; }

body#login .signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px; }

body#login .install-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px; }

body#login #imgInstaller img {
  width: 50px;
  float: right;}

body#login .signup-form h1 {
  color:#000; }

body#login .install-form h1 {
  color:#ffc412; }

body#login .register-form {
  width: 100%; }

body#login .form-group {
  position: relative;
  margin-bottom: 1px;
  overflow: hidden; }
  body#login .form-group:last-child {
    margin-bottom: 0px; }

body#login input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Raleway;
  box-sizing: border-box; }
  body#login input::-webkit-input-placeholder {
    color: #999; }
  body#login input::-moz-placeholder {
    color: #999; }
  body#login input:-ms-input-placeholder {
    color: #999; }
  body#login input:-moz-placeholder {
    color: #999; }
  body#login input:focus {
    border-bottom: 1px solid #222; }
    body#login input:focus::-webkit-input-placeholder {
      color: #222; }
    body#login input:focus::-moz-placeholder {
      color: #222; }
    body#login input:focus:-ms-input-placeholder {
      color: #222; }
    body#login input:focus:-moz-placeholder {
      color: #222; }

body#login input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none; }

body#login input[type=checkbox]:not(old) + label {
  display: inline-block;
  line-height: 1.5em;
  margin-top: 6px; }

body#login input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom; }

body#login input[type=checkbox]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white); }

body#login input[type=checkbox]:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold; }

body#login .agree-term {
  display: inline-block;
  width: auto; }

body#login label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222; }

body#login .label-has-error {
  top: 22%; }

body#login label.error {
  position: relative;
  background: url("../images/unchecked.gif") no-repeat;
  background-position-y: 3px;
  padding-left: 20px;
  display: block;
  margin-top: 20px; }

body#login label.valid {
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  margin-top: -6px;
  width: 20px;
  height: 20px;
  background: transparent; }
  body#login label.valid:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f269';
    width: 100%;
    height: 100%;
    position: absolute;
    /* right: 0; */
    font-size: 16px;
    color: green; }

body#login .label-agree-term {
  position: relative;
  top: 0%;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0); }

body#login .material-icons-name {
  font-size: 18px; }

body#login .signin-content {
  padding-top: 67px;
  padding-bottom: 87px; }

body#login .signin-form {
  margin-right: 90px;
  margin-left: 80px; }

body#login .signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px; }

@media screen and (max-width: 768px) {
    body#login .container {
  width: 500px; }
  .signup-content, .signin-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center; }
  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px; }
  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2; }
  .signup-form, .signup-image, .signin-form, .signin-image {
    width: auto; }
  .social-login {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center; }
  .form-button {
    text-align: center; }
  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px; }
  .form-title {
    text-align: center; } }

@media screen and (max-width: 400px) {
  .social-login {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }
  .social-label {
    margin-right: 0px;
    margin-bottom: 10px; } }

.icon-side {
  padding-left: 20px; }

body#back {
  font-family: "Raleway", sans-serif;
  background-color: #F4F6F8; }
  body#back .subtitle p{
  color: grey;
  font-size: 18px;
  font-weight: normal; }
  body#back .header {
    width: 100%;
    height: 70px;
    background-color: #33357C;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; }
  body#back .form-submit {
    text-decoration: none;
    background: #33357C;
    border: 0px;
    color: #fff;
    font-size: 15px;
    width: auto;
    padding: 10px 20px;
    margin: 0 5px 0;
    border-radius: 7px; }
  body#back .form-submit:hover {
    background: #585BA2; }
  body#back .menu-delete {
    background: #D44638;
    border: 0px;
    color: #fff;
    font-size: 15px;
    width: auto;
    padding: 10px 20px;
    margin: 0 5px 0;
    border-radius: 7px; }
  body#back .menu-delete:hover {
    background: #585BA2; }
  body#back .logo-back {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  body#back .logo-back img {
    height: 70px; }
  body#back main {
    z-index: 1;
    padding-left: 250px;
    text-align: left;
    padding-top: 50px; }
  body#back #navbar {
    list-style: none;
    color: #ffffff;
    height: 100%;
    left: 0px;
    top: 70px;
    width: 250px;
    position: fixed;
    background-color: #585BB6; }
  body#back .navUl {
    flex-direction: column; }
  body#back .navUl li {
    line-height: 3;
    list-style: none; }
  body#back .navUl li a {
    color: #ffffff;
    text-decoration: none; }
    body#back .navUl li p {
    color: white;
    font-style: italic;
    text-decoration: none;
    line-height: 0.1;
    font-size: 14px;}
  body#back .row.nav {
    height: 90%; }
  body#back .row.nav ul:last-child {
    align-self: flex-end; }
  body#back #ulSite li {
    margin-left: 10px;
    line-height: 1.5; }

@media (min-width:1000px){

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a{
color:white;
}

.dropdown-content {
  display: none;
  background-color: #585BB6;
  min-width: 160px;
  color:black;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown-contents {
  display: none;
  background-color: black;
  width: 230px;
  border-radius: 7px;
}

.dropdown-contents a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-contents {display: block;}

body#front .dropdownbtnb {
    background: red;
    color: grey;
    font-size: 18px;
    width: auto;
    font-family: Raleway; }
body#front .dropdownbtnb:hover {
  color: #fff;
  font-family: Raleway; }
}

body#back .dropdownbtn {
    background: #4f5291;
    border: 0px;
    color: #fff;
    font-size: 15px;
    width: auto;
    padding: 10px 10px;
    margin: 0 5px 0;
    border-radius: 15px; }
  body#back .dropdownbtn:hover {
    background: #33357C; }

  @media (max-width: 1000px) {
    .dropdown-content{display: none;}
    body#back .mobile-hide {
      display: none; }
    body#back main {
      padding-left: 40px; }
    body#back .mobile-show {
      display: block; }
    body#back #navbar {
      width: 40px; }
    body#back .nav ul {
      padding: 10px; }
    body#back .container {
      max-width: 1200px; }
    body#back .button {
      margin: 30px -320px 0; } }
  body#back .side-card {
    background: white;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: -10px;
    justify-content: space-around;
    font-size: 300px;
    color: #000;
    background-color: #F4F6F8;
    border-radius: 5px; }

  body#back .dashboard-card {
    background: white;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: -10px;
    justify-content: space-around;
    font-size: 20px;
    color: #000;
    border-top: 6px solid #33357C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #F5F5F9;
    border-radius: 5px; }
  body#back .dashboard-card:hover {
    -ms-transform: scale(1.04);
    /* IE 9 */
    -webkit-transform: scale(1.04);
    /* Safari 3-8 */
    transform: scale(1.04); }

  body#back .dashboard-card h3 {
    color: #000; }

  body#back .table-card {
    background: white;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    justify-content: space-around;
    font-size: 16px;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #FBFBFB;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px; }
  body#back .table-card h1 {
    font-size: 25px; }
  body#back .rectangle {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 50px;
    border-radius: 4px;
    background: #33357C;
    color: #fff;
    margin-bottom: 5px; }
  body#back .desc {
    width: 800px;
    height: 50px; 
    font-family: "Raleway";}
  body#back .rectangle:hover {
    background-color: #202268; }
  body#back .side {
    display: flex;
    text-align: center;
    height: 157px;
    border-radius: 4px;
    background: #33357C;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    justify-content: space-around; }
  body#back .side:hover {
    -ms-transform: scale(1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01);
    /* Safari 3-8 */
    transform: scale(1.01);
    background-color: #202268; }
  body#back .notification-text {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 16px; }
  body#back .side-text {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 18px; }
  body#back input, body#back button {
    outline: none; }
  body#back button {
    background: #33357C;
    border: 0px;
    color: #fff;
    font-size: 15px;
    width: auto;
    padding: 5px 10px;
    margin: 0 10px 0;
    border-radius: 10px; }
  body#back button:hover {
    background: #585BB6; }
  body#back label[for='title'] {
    color: #333;
    font-weight: 700;
    font-size: 25px;
    border-bottom: 1px solid #C0C0C0;
    margin: 0; }
  body#back input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 15px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: "Raleway", sans-serif;
    color: #888; }
      body#back input[type="date"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: "Raleway", sans-serif;
    color: #888; }
      body#back input[type="email"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: "Raleway", sans-serif;
    color: #888; }
  body#back input[type="text"]:focus {
    color: #333; }
  body#back label[for='title'] {
    display: block;
    margin: 0 0 20px; }
  body#back input#title {
    float: left;
    width: 318px; }
  body#back p > button:hover {
    color: #0FC57C; }
  body#back body {
    padding: 1.5em;
    background: #f5f5f5; }
  body#back table {
    border: 1px #a39485 solid;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden; }
  body#back th {
    text-align: left; }
  body#back thead {
    font-weight: bold;
    color: #fff;
    background: #33357C; }
  body#back td, body#back th {
    padding: 1em .5em;
    vertical-align: middle; }
  body#back td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff; }
  body#back a {
    color: #73685d; }
  @media all and (max-width: 1000px) {
    body#back table, body#back thead, body#back tbody, body#back th, body#back td, body#back tr {
      display: block; }
    body#back th {
      text-align: right; }
    body#back table {
      position: relative;
      padding-bottom: 0;
      border: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    body#back thead {
      float: left;
      white-space: nowrap; }
    body#back tbody {
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      white-space: nowrap; }
    body#back tr {
      display: inline-block;
      vertical-align: top; }
    body#back th {
      border-bottom: 1px solid #a39485; }
    body#back td {
      border-bottom: 1px solid #e5e5e5; } }
  body#back .body-wrapper {
    height: 294px;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px; }
  body#back .icon-side {
    padding-left: 20px; }
  body#back .covers {
    position: relative;
    top: 4px;
    width: 278px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed #BBB;
    text-align: center;
    background-color: #DDD;
    cursor: pointer; }
  body#back input[type='file'] {
    height: 20px;
    width: 298px; }
  body#back .cover, body#back input.files {
    left: 320px;
    top: 4px;
    position: absolute; }
  body#back input.files {
    top: 10px;
    cursor: pointer;
    opacity: 0; }
  body#back #comment {
    font-size: 10px; }

body#front {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: white; }
  body#front * {
    box-sizing: border-box; }
  body#front .clearfix::after {
    content: '';
    clear: both;
    display: table; }
  body#front .clearfix::before {
    content: "";
    display: table; }
  body#front .container {
    width: 1274px;
    margin: auto;
    position: relative; }
  body#front .container1 {
    margin: auto;
    position: relative;
    margin-top: 400px;
    width: 1600px;
    height: auto; }
  body#front .container2 {
    position: relative;
    left: 0;
    color: #fff;
    border-radius: 5px;
    font-size: 20px; }
  body#front .content-vertically-centered {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    transform: translateY(-50%); }
  body#front .cta-button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 1em 3em;
    border-radius: 500px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    transition: background-color 0.3s;
    text-align: center; }
  body#front .cta-button--blue {
    background-color: #1E3264;
    color: white; }
  body#front .cta-button--blanc {
    background-color: #FFFFFF;
    color: black; }
  body#front .cta-button--blue:hover {
    background-color: #2A468D;
    color: white; }
  body#front .cta-button--white {
    background-color: white;
    color: #000000; }
  body#front .cta-button--white:hover {
    background-color: #000000;
    color: white; }
  body#front .cta-button--green {
    background-color: #1DB954;
    color: white; }
  body#front .cta-button--green:hover {
    background-color: #1ED760;
    color: white; }
  body#front .cta-button--full-width {
    width: 100%; }
  body#front .cta-button1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1em 3em;
    margin-top: 10px;
    margin-bottom: 35px;
    border-radius: 500px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    transition: background-color 0.3s;
    text-align: center; }
  body#front .cta-button1--blue {
    background-color: #3b5998;
    color: white; }
  body#front .cta-button1--blanc {
    background-color: #FFFFFF;
    color: black; }
  body#front .cta-button1--blue:hover {
    background-color: #8b9dc3;
    color: white; }
  body#front .cta-button1--white {
    background-color: white;
    color: #000000; }
  body#front .cta-button1--white:hover {
    background-color: #000000;
    color: white; }
  body#front .cta-button1--green {
    background-color: #000;
    color: white; }
  body#front .cta-button1--green:hover {
    background-color: #734ae8;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    color: white; }
  body#front .cta-button1--full-width {
    width: 100%; }
  body#front header {
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
    background-color: black; }
  body#front header nav {
    float: right; }
  body#front header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    }
  body#front header nav li {
    float: left; }
  body#front header nav li a {
    display: inline-block;
    padding: 2em 1em;
    text-decoration: none;
    color: grey; }

  body#front header nav li a:hover {
  color: white;}
  body#front #logo-image {
    float: left;
    width: 75px;
    height: 80px;
    position: absolute;
    background-image: url(../images/logoeasy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: auto; }
    body#front #error {
    background-image: url("../images/banner8.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    color: white;
    padding-bottom: 170px;
    padding-top: 220px; }
  body#front #error .container2 {
    margin-bottom: 20px; }
  body#front #error h1 {
    font-size: 4vw; }
  body#front #error h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: justify; }
  body#front #banner {
    background-image: url("../images/banner3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    color: white;
    padding-bottom: 170px;
    padding-top: 220px; }
  body#front #banner .container2 {
    margin-bottom: 20px; }
  body#front #banner h1 {
    font-size: 4vw; }
  body#front #banner h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: justify; }
  body#front #banner small {
    position: absolute;
    left: 0;
    bottom: 45px;
    width: 100%;
    text-align: center;
    text-align: justify; }
  body#front #connexion {
    background-image: url("../images/connexion.jpg");
    background-size: cover;
    background-position: right center;
    color: white; }
  body#front #connexion .container {
    height: 902px; }
  body#front #connexion h1 {
    font-size: 80px;
    margin: 0; }
  body#front #connexion h2 {
    font-size: 20px; }
  body#front #connexion small {
    position: absolute;
    left: 0;
    bottom: 45px;
    width: 100%;
    text-align: center; }
  body#front #services {
    background-color: #fff;
    padding-bottom: 60px;
    padding-top: 60px; }
  body#front #services p {
    text-align: justify; }
  body#front #services img {
    padding-top: 15px;
    overflow: hidden; }
  body#front #services .lien {
    color: #33357C;
    font-size: 16px; }
  body#front #services h1 {
    color: black;
    font-size: 40px; }
  body#front #services .box2 > h2 {
    color: black;
    font-size: 26px;
    padding-bottom: 10px; }
  body#front .intro {
    float: left;
    margin-right: 2%;
    width: calc(94% / 4);
    text-align: center;
    padding: 1rem 2rem; }
  body#front .intro h1 {
    font-size: 20px;
    margin-bottom: 0; }
  body#front .intro h2 {
    font-weight: normal;
    font-size: 14px; }
  body#front .intro figure {
    width: 100%;
    padding-top: 100%;
    margin: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
  body#front .intro:nth-child(1) figure {
    background-image: url("../images/1.png"); }
  body#front .intro:nth-child(2) figure {
    background-image: url("../images/2.png"); }
  body#front .intro:nth-child(3) figure {
    background-image: url("../images/3.png"); }
  body#front .intro:nth-child(4) figure {
    background-image: url("../images/4.png"); }
  body#front .intro:last-child {
    margin-right: 0%; }
  body#front #decouvertes {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px; }
  body#front #decouvertes .box4 > h1 {
    text-align: center;
    color: black;
    font-size: 48px; }
  body#front .album {
    float: left;
    text-align: center;
    padding: 1rem 2rem; }
  body#front .album h1 {
    font-size: 20px;
    margin-bottom: 0; }
  body#front .album h2 {
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 70px; }
  body#front .album figure {
    width: auto;
    padding-top: 100%;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat; }

  body#front .album figure:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);  }


  body#front .album:nth-child(1) figure {
    background-image: url("../images/album1.jpg"); }
  body#front .album:nth-child(2) figure {
    background-image: url("../images/album1.jpg"); }
  body#front .album:nth-child(3) figure {
    background-image: url("../images/album2.jpg"); }
  body#front .album:nth-child(4) figure {
    background-image: url("../images/album3.jpg"); }
  body#front .album:nth-child(5) figure {
    background-image: url("../images/album4.jpg"); }
  body#front .album:last-child {
    margin-right: 0%; }
  body#front #banner2 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../images/banner2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    color: white;
    width: 100%; }
  body#front #banner2 h1 {
    font-size: 4vw;  }
  body#front #banner2 h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: justify; }
  body#front footer {
    background-color: black;
    color: grey; }
  body#front footer nav li {
    float: left; }
  body#front footer nav li a {
    display: inline-block;
    padding: 2em 1em;
    text-decoration: none;
    color: grey;
    font-size: small; }
    body#front footer nav li a:hover {
    display: inline-block;
    padding: 2em 1em;
    text-decoration: none;
    color: white;
    font-size: small; }
  body#front footer nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  body#front footer small {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%); }
  to {
    opacity: 1;
    transform: translateY(0%); } }
  body#front #banner .cta-button {
    animation: fadeIn 1s; }


#front .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;

}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=password], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=date], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #78C07B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Raleway";
  font-size: 16px;
}


input[type=submit]:hover {
  background-color: #45a049;
}

input[type=delete] {
  background-color: #db4a4a;
  color: white;
  padding: 9px 7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Raleway";
  font-size: 16px;
  width: 6em;
}
input[type=delete]:hover {
  background-color: #AD3535;
}


input[type=reset]:hover {
  background-color: #E10606;
}

input[type=reset] {
  background-color: #db4a4a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Raleway";
  font-size: 16px;
}



.hover {
  color: red;
}

#menu_items_list_head {
    border: 3px solid #eee;
    width: 340px;

    min-height: 20px;
    list-style-type: none;
    margin-right:  20px;
    padding: 5px 0 0 0;
    float: left;
  }

#menu_items_list{
    
    width: 100%;
    min-height: 20px;
    list-style-type: none;
    float: left;
    background-color: #DCDCDC;
  }

  
#menu_items_list_head li, #menu_items_list li {
    
    
    font-size: 20px;
    width: 335px;
  }


.menu-actions{
  
}
  

.dropdown-contents {
  display: none;
  background-color: black;
  width: 230px;
  border-radius: 7px;
}

.dropdown-contents a {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-contents {display: block;}


body#front .dropdownbtn {
    background: black;
    color: grey;
    font-size: 18px;
    width: auto;
    font-family: Raleway; }
body#front .dropdownbtn:hover {
  color: #fff;
  font-family: Raleway; }



